set timeout=3
set default=0

menuentry "DriveWipe Live" {
    linux /boot/vmlinuz-lts root=/dev/ram0 quiet modules=loop,squashfs,sd-mod,usb-storage,uas,ahci,nvme
    initrd /boot/initramfs-lts
}

menuentry "DriveWipe Live (Verbose Boot)" {
    linux /boot/vmlinuz-lts root=/dev/ram0 modules=loop,squashfs,sd-mod,usb-storage,uas,ahci,nvme
    initrd /boot/initramfs-lts
}
